{% load static %}
<html>
    <head>
        <script type="text/javascript">
            history.forward() ;
        </script>
        <title>SKF app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    </head>
    <body>
        <div class="page-header">
            
            <h1><a href="/"><img class = "logo" src = "https://www.skf.com/img/logo.png"></a></h1>
            {% if user.is_authenticated %}
                <p> Hello {{ user.username }}, <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                 {% block content %}
                 {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>