{% load static%}

<html>
<head>
</head>
<body><center>
<table background= "{% static 'assets/sihlogo.png' %}" style = "width:1100px">
<tr style = "height:200px">
<td>&nbsp;</td>
<tr style ="height:400px ">
<td style ="text-align:center; vertical-align:middle;">
<button class = "button" style="height:80px; width:400px" type = "button"><a href="{% url 'login' %}" class="top-menu">industry login</a></button></td></tr>
<tr><td style ="text-align:center; vertical-align:middle;">
<button class = "button"  style="height:80px; width:400px" type = "button"><a href="{% url 'login' %}" class="top-menu">Supplier Login</a></button>
</td></tr>
<tr>
    <td>
        <br>
        <br>
        <br>
        <br>
    </td>
    
</tr>
</table>

</center>
</body>
</html>