{% extends 'myapp/base.html' %}

{% block content %}
    {% for order in orders %}
        <div>
            <h2><a href="">{{ order.clientName }}</a></h2>
            <p>{{  order.order_status }}</p>
            <p>start date: {{ order.start_date }}</p>
            <p>Completion date: {{ order.completion_date }}</p>
            {% if order.Reason_delay %}
                <p>reason of delay: {{ order.Reason_delay }} </p>
                <p>delay duration: {{ order.delay }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}