
{% extends 'myapp/base.html' %}

{% load static %}

{% block content %}
    <h1> {{ supplier.supplier_name }} </h1>
    <div>
        <h2>Details</h2>
        <p>Supplier ID: {{ supplier.supplier_id }} </p>
        <p>Supplier Address: {{ supplier.supplier_address }} </p>
        <p>Supplier Contact: {{ supplier.supplier_email }}</p>
        <p>Transportation time: {{ supplier.supplier_time }}</p>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Order ID</th>
            <th>Product Type</th>
            <th>Order Date</th>
            <th>Expected Delivery Date</th>
            <th>Delivery Date</th>
            <th>Order Status</th>
        </tr>
        {% for product in supplier.products.all %}
            <tr>
                <td> {{ product.order_id }} </td>
                <td> {{ product.product_type }} </td>
                <td> {{ product.main_order_date }} </td>
                <td> {{ product.completion_date }} </td>
                <td> {{ product.recieved_date }} </td>
                <td> {{ product.product_status }} </td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default" href="{% url 'product_new' pk=supplier.pk %}">Place Order</a>
    {% if supplier.supplier_name is "RK Industries"%}
        <img src="{% static 'assets/Graph1.png' %}">
    {% elif supplier.supplier_name is "Bearing guys" %}
        <img src="{% static 'assets/Graph2.png' %}">
    {% elif supplier.supplier_name is "BK builders" %}
        <img src="{% static 'assets/Graph3.png' %}">    
    {% elif supplier.supplier_name is "max" %}
        <img src="{% static 'assets/Graph4.png' %}">
    {% else %}
        <img src="{% static 'assets/Graph5.png' %}"> 
    {%endif%}     
{% endblock %}